*{
    margin: 0;
    padding: 0;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.space{
    height: 40px;
    background-color: #ffffff;
}
.space-title{
    height: 15px;
    background-color: #ffffff;
}
.line{
    height: 5px;
    background-color: white;
}
.Coloum{
    height: 2px;
    background-color: #4B7Fa2;
}
/*header*/
.header{
    background-color: black;
    padding-left: 70px;
    padding-right: 70px;
    position: sticky;
    top: 0;
    height: 150px;
}
.logo{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0 ;
}
.logo ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    color: white;
}
.logo ul li a{
    color: white;
    width: 100px;
    padding: 15px 0;
    text-align: center;
    border: 2px solid #d9d9d9;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: transparent;
    margin: 10px;
}


/*dropdown in header*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    color: black;
    width: 120px;
    padding: 0;
    text-align: center;
    /*border: 2px solid white;*/
    font-weight: bold;
    text-decoration: none;
    /*margin: 10px;*/
    margin: 0;
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    box-shadow: gray  1.95px 1.95px 0px ;
    transition-delay: 10s;
}
.food:hover .dropdown-content{
    display: block;
}

/* footer */

.black-footer{
    background-color: black ;
}
.black-footer div{
    padding-right: 150px;
    padding-left: 150px;
}

.link-website{
    width: 50%;
    float: left;
    text-align: center;
    background-color: black;
}
.link-website p{
    color: white;
}
.link-website a{
    text-decoration: none;
    color: white;
}
.link-website p{
    text-align: left;
}
.member-name p{
    color: white;
}
.member-name{
    width: 50%;
    float: right;
    text-align: left;
    color: white;
    background-color: black;
}
.copyright{
    text-align: center;
}
/*
@media screen and (min-width:480px){
    .header{
        background-color: black;
        padding-left: 70px;
        padding-right: 70px;
        
    }
    .logo{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 0 ;
    }
    .logo ul li{
        list-style-type: none;
        display: block;
        margin: 0 10px;
        color: white;
    }
    .logo ul li a{
        color: white;
        width: 50px;
        padding: 10px 0;
        text-align: center;
        border: none;
        font-weight: bold;
        text-decoration: none;
        display: block;
        background-color: transparent;
        margin: 0px;
    }
}*/