
/*Welcome*/
.welcome{
    background-color:#AED6F1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
}
h1{
    text-align: center;
}
.text{
    background-color:#AED6F1;
    color:black;
    width: 50%;
    height: 400px;
    text-align: center;
    padding-top: 80px ;
}
.text p{
    margin: 20px auto;
    text-align: center;
}
.welcome-image{
    width: 40%;
    height: 400px;
}
.welcome-image img{
    width: 100%;
    height: 400px;
}

/* Best Seller Food */
.Best-Seller-h1{
    font-weight: bolder;
    text-align: center;
    height: 50px;
    color: black;
}
.best-seller{
    background-color: #AED6F1;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.best-sellercard img{
    width: 375px;
    height: 400px;
}
.best-sellercard{
    width: 375px;
    height: 475px;
    border-radius: 10px; 
    display: inline-block;   
    overflow: hidden;   
    box-shadow: #ffffff  0px 20px 30px -10px;
    margin: 20px;
    vertical-align: top;
    line-height: 25px;
    letter-spacing: 1px; 
    background-color: #b5c1e9;
}
.best-sellercard h4{
    padding: 10px;
}
/* Famous Book */
.famous-book-h1{
    font-weight: bolder;
    text-align: center;
    height: 50px;
    color: black;
}
.famous-book{
    background-color: #AED6F1;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.famous-bookcard img{
    width: 375px;
    height: 400px;
}
.famous-bookcard{
    width: 375px;
    height: 475px;
    border-radius: 10px; 
    display: inline-block;   
    overflow: hidden;   
    box-shadow: #ffffff  0px 20px 30px -10px;
    margin: 20px;
    vertical-align: top;
    line-height: 25px;
    letter-spacing: 1px; 
    background-color: #b5c1e9;
}
.famous-bookcard h4{
    padding: 10px;
}
/*Events*/
.events{
    width:100%;
    display:flex; 
    justify-content: space-around ;
    align-items: center;
    background-color: #AED6F1;
    color: black;
    height: 400px;
    padding: 0;
}  
.events-title{
    width:100%;
    background-color: #AED6F1;
    color: black;
    margin-bottom: 0px;
    text-decoration-line: underline;
    padding-top: 10px;

}
.event-h1{
    margin:0 30px ;
    width:45%;
    padding:0 ;
}
.event-img{
    padding-left: 120px;
    width:55%;
}
.event-img img{
    width: 300px;
    height:300px;
} 
.event-h1 h1{
    text-transform: uppercase;
    font-size: 25px;
}
.event-h1 p{
    padding-left: 50px;
}
.events-btn{
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 20%;
    background-color: black;
    cursor: pointer;
}
.events-btn a{
    text-decoration: none;
    color: #AED6F1;
}



/* footer */

.black-footer{
    background-color: black ;
}
.black-footer div{
    padding-right: 150px;
    padding-left: 150px;
}

.link-website{
    width: 50%;
    float: left;
    text-align: center;
    background-color: black;
    height: 40vh;
}
.link-website p{
    color: white;
}
.link-website a{
    text-decoration: none;
    color: white;
}
.link-website p{
    text-align: left;
}
.member-name p{
    color: white;
}
.member-name{
    width: 50%;
    float: right;
    text-align: left;
    color: white;
    background-color: black;
    height: 40vh;
}
.copyright{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 20px;
}


@media screen and (min-width:480px){
    
}


